* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14pt;
  color: #1C1C1C;
}
.load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}
.main-window {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .logotype {
  width: 230px;
  display: flex;
  align-items: center;
}
header .logotype img {
  width: 100%;
}
header .search {
  width: 40%;
}
header .search form {
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
}
header .search form .search-input {
  width: 89%;
  font-size: 22px;
  outline: none;
  border: 0;
}
header .search form .search-submit {
  width: 28px;
  height: 28px;
}
header .cart {
  display: flex;
  align-items: center;
}
header .cart .cart-icon {
  margin-right: 7px;
  width: 34px;
}
header .cart .cart-icon img {
  width: 100%;
}
header .cart .cart-block .cart-block-title {
  text-align: center;
  font-weight: bold;
}
header .cart .cart-block .cart-block-items {
  text-align: center;
}
header .profile {
  display: flex;
  align-items: center;
}
header .profile .profile-icon {
  margin-right: 7px;
  width: 34px;
}
header .profile .profile-icon img {
  width: 100%;
}
header .profile .profile-block .profile-block-title {
  text-align: center;
  font-weight: bold;
}
header .profile .profile-block .profile-block-user {
  text-align: center;
}
header .logout {
  width: 34px;
}
header .logout img {
  width: 100%;
}
nav {
  background-color: #2969A9;
}
nav > div {
  display: flex;
  justify-content: space-between;
}
nav > div a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  transition: 0.5s;
  width: 100%;
  text-align: center;
}
nav > div a:hover {
  background-color: #1D507D;
  color: #fff;
}
.block-title {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-subtitle {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.block-items > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: calc(100% / 4 - 3% + 1%);
  border: 1px solid #b3afaf;
  border-radius: 7px;
  margin-bottom: 30px;
  margin-right: 3%;
  box-sizing: border-box;
}
.block-items > div .item-image {
  width: 100%;
  margin: 0 auto;
}
.block-items > div .item-image img {
  width: 100%;
}
.block-items > div .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.block-items > div .description .item-title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #2969A9;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.block-items > div .description .item-title:hover {
  color: #1D507D;
}
.block-items > div .description .item-price {
  font-weight: bold;
}
.block-items > div .description .item-price-new {
  color: red;
}
.block-items > div .description .item-price-old {
  text-decoration: line-through;
}
.block-items > div .description .item-add {
  width: 28px;
}
.block-items > div .description .item-add img {
  width: 100%;
}
.block-items > div:nth-child(4),
.block-items > div:last-child {
  width: calc(100% / 4 - 3%);
  margin-right: 0;
}
.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.categories > div {
  border: 1px solid #b3afaf;
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 15px;
  width: 27%;
  text-align: center;
}
.categories > div .category-image {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.categories > div .category-image img {
  width: 100%;
}
.categories > div .category-title {
  font-weight: bold;
  font-size: 1.3em;
  color: #2969A9;
  transition: 0.5s;
}
.categories > div .category-title:hover {
  color: #1D507D;
}
.link-back {
  font-size: 14pt;
  margin-bottom: 20px;
}
.item {
  display: flex;
  flex-direction: column;
}
.item .image {
  width: 360px;
}
.item .image img {
  width: 100%;
}
.item .description-title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0;
}
.item .description {
  font-size: 1.2em;
}
.item .price {
  margin: 30px 0;
  font-size: 1.2em;
}
.item .price span {
  font-size: inherit;
}
.item .price .old-price {
  text-decoration: line-through;
}
.item .price .new-price {
  font-weight: bold;
  color: red;
}
.item .add-to-cart {
  border: 1px solid #b3afaf;
  border-radius: 7px;
  padding: 5px 15px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  margin-bottom: 30px;
}
.item .add-to-cart img {
  width: 32px;
}
.item .add-to-cart:hover {
  background-color: #b3afaf;
}
#add-to-cart:hover {
  cursor: pointer;
}
.auth-form {
  width: 30%;
  margin-bottom: 20px;
}
.auth-form .auth-form-error {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid red;
  background-color: lightcoral;
  border-radius: 5px;
  color: #1C1C1C;
  margin-bottom: 20px;
}
.auth-form .auth-form-error:empty {
  display: none;
}
.auth-form .auth-form-row .label {
  font-size: 1.1em;
  margin-bottom: 10px;
}
.auth-form .auth-form-row input {
  width: 100%;
  padding: 7px;
  font-size: 1em;
  box-sizing: border-box;
  outline: none;
}
.auth-form .auth-form-row input[type="text"],
.auth-form .auth-form-row input[type="password"] {
  margin-bottom: 20px;
}
.auth-form .auth-form-row input[type="submit"] {
  background-color: #1D507D;
  border: none;
  color: #fff;
  transition: 0.5s;
  margin-bottom: 10px;
}
.auth-form .auth-form-row input[type="submit"]:hover {
  cursor: pointer;
  background-color: #2969A9;
}
.auth-form .forgot:hover {
  text-decoration: underline;
}
.profile-form-error,
.profile-form-success {
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
}
.profile-form-error:empty,
.profile-form-success:empty {
  display: none;
}
.profile-form-error {
  border: 1px solid red;
  background-color: lightcoral;
}
.profile-form-success {
  border: 1px solid green;
  background-color: lightgreen;
}
.profile-form {
  width: 70%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profile-form > div {
  width: 48%;
  box-sizing: border-box;
}
.profile-form > div .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profile-form > div .row .field input {
  padding: 5px 3px;
}
.profile-form > div .row:last-child {
  margin-bottom: 0;
}
.profile-form .submit {
  width: 100%;
  margin-top: 10px;
  outline: none;
}
.profile-form .submit input {
  width: 100%;
  border: 0;
  background-color: #1D507D;
  padding: 10px 0;
  color: #fff;
  transition: 0.5s;
}
.profile-form .submit input:hover {
  cursor: pointer;
  background-color: #2969A9;
}
.orders-table {
  width: 70%;
  margin-bottom: 20px;
  border-spacing: 0 10px;
}
.orders-table tr {
  padding-bottom: 5px;
}
.orders-table tr th,
.orders-table tr td {
  border-right: 1px solid #1D507D;
}
.orders-table tr th:last-child,
.orders-table tr td:last-child {
  border-right: 0;
}
.orders-table tr td {
  text-align: center;
}
.cart-table {
  width: 70%;
}
.cart-table th,
.cart-table td {
  text-align: center;
  border-right: 1px solid black;
}
.cart-table th img,
.cart-table td img {
  width: 128px;
}
.cart-table th .old-price,
.cart-table td .old-price {
  color: red;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.cart-table th .count,
.cart-table td .count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.cart-table th .count img,
.cart-table td .count img {
  width: 16px;
  margin-right: 5px;
}
.cart-table th .count img:last-child,
.cart-table td .count img:last-child {
  margin-left: 5px;
}
.cart-table th .count img:hover,
.cart-table td .count img:hover {
  cursor: pointer;
}
.cart-table th .delete,
.cart-table td .delete {
  color: red;
}
.cart-table th .delete:hover,
.cart-table td .delete:hover {
  text-decoration: underline;
  cursor: pointer;
}
.cart-table th:last-child,
.cart-table td:last-child {
  border-right: 0;
}
.checkout-button {
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  background-color: #1D507D;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 0;
  width: 70%;
}
.checkout-button a {
  display: block;
  height: 100%;
}
.checkout-button:hover {
  cursor: pointer;
  background-color: #2969A9;
}
.order-checkout {
  margin-bottom: 20px;
}
.order-checkout .customer-data-error {
  width: 70%;
  border: 1px solid red;
  background-color: lightcoral;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
}
.order-checkout .customer-data-error:empty {
  display: none;
}
.order-checkout .customer-data {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-checkout .customer-data > div {
  width: 48%;
  box-sizing: border-box;
}
.order-checkout .customer-data > div .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.order-checkout .customer-data > div .row .field input {
  padding: 5px 3px;
}
.order-checkout .customer-data > div .row:last-child {
  margin-bottom: 0;
}
.search-table {
  width: 100%;
  margin-bottom: 20px;
}
.search-table tr th,
.search-table tr td {
  text-align: center;
  border-right: 1px solid black;
}
.search-table tr th .old-price,
.search-table tr td .old-price {
  color: red;
  text-decoration: line-through;
}
.search-table tr th img,
.search-table tr td img {
  width: 200px;
}
.search-table tr th:last-child,
.search-table tr td:last-child {
  border-right: 0;
}
.search-table tr th:last-child a:hover,
.search-table tr td:last-child a:hover {
  text-decoration: underline;
}
.items-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.items-pagination a {
  margin-right: 12px;
}
.items-pagination a:last-child {
  margin-right: 0;
}
.admin-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.admin-buttons .column {
  width: 48%;
}
.admin-buttons .column > div {
  text-align: center;
  padding: 10px 15px;
  background-color: #1D507D;
  transition: 0.5s;
  margin-bottom: 15px;
}
.admin-buttons .column > div a {
  color: #fff;
  display: block;
}
.admin-buttons .column > div:hover {
  background-color: #2969A9;
  cursor: pointer;
}
.admin-buttons .column > div:last-child {
  margin-bottom: 0;
}
.add-item-error {
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid red;
  background-color: lightcoral;
}
.add-item-error:empty {
  display: none;
}
.add-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.add-item .column {
  width: 48%;
  margin-bottom: 15px;
}
.add-item .column > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.add-item .column > div .field input,
.add-item .column > div .field select,
.add-item .column > div .field textarea {
  padding: 5px;
  box-sizing: border-box;
  width: 240px;
}
.add-item .column > div .field textarea {
  resize: vertical;
}
.add-item .column > div:last-child {
  margin-bottom: 0;
}
.add-item .submit {
  width: 100%;
}
.add-item .submit input {
  width: 100%;
  padding: 10px 15px;
  background-color: #1D507D;
  color: #fff;
  transition: 0.5s;
  border: 0;
}
.add-item .submit input:hover {
  background-color: #2969A9;
  cursor: pointer;
}
.admin-strip {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.admin-strip .title {
  font-weight: bold;
}
.admin-strip a {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}
.admin-strip a:hover {
  text-decoration: underline;
}
.admin-strip a:last-child {
  border-right: 0;
}
footer {
  width: 100%;
  background-color: #1D507D;
  padding: 60px 0;
}
footer * {
  color: #fff;
}
footer .upper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .upper-row > div {
  width: 100%;
  text-align: center;
  border-right: 1px solid #fff;
}
footer .upper-row > div:last-child {
  border-right: none;
}
footer .upper-row > div .image {
  width: 48px;
  margin: 0 auto;
  margin-bottom: 15px;
}
footer .upper-row > div .image img {
  width: 100%;
}
footer .upper-row > div .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
footer .lower-row {
  margin-top: 50px;
  text-align: center;
}
.limit-length {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  max-height: 48px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1080px) {
  header {
    flex-direction: column;
  }
  header > div,
  header > a {
    margin-bottom: 20px;
  }
  header > div:last-child,
  header > a:last-child {
    margin-bottom: 0;
  }
  header .search {
    width: 80%;
  }
  nav > div {
    flex-direction: column;
  }
  .content {
    padding: 0 7px;
  }
  .block-items {
    flex-direction: column;
  }
  .block-items > div {
    width: 100%;
  }
  .block-items > div .item-image {
    width: 60%;
  }
  .block-items > div:nth-child(4),
  .block-items > div:last-child {
    width: 100%;
    margin-right: 0;
  }
  .categories {
    flex-direction: column;
    justify-content: center;
  }
  .categories > div {
    box-sizing: border-box;
    width: 100%;
  }
  .categories > div .category-image {
    width: 40%;
  }
  .auth-form {
    width: 100%;
  }
  .profile-form-error,
  .profile-form-success {
    width: 100%;
  }
  .profile-form {
    width: 100%;
    flex-direction: column;
  }
  .profile-form > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .profile-form > div:last-child {
    margin-bottom: 0;
  }
  .orders-table {
    width: 100%;
  }
  .cart-table {
    width: 100%;
  }
  .cart-table th img,
  .cart-table td img {
    width: 80px;
  }
  .checkout-button {
    box-sizing: border-box;
    width: 100%;
  }
  .order-checkout .customer-data-error {
    width: 100%;
  }
  .order-checkout .customer-data {
    flex-direction: column;
  }
  .order-checkout .customer-data > div {
    width: 100%;
  }
  .order-checkout .customer-data > div .row {
    flex-direction: column;
  }
  footer .upper-row {
    flex-direction: column;
  }
  footer .upper-row > div {
    border: 0;
    margin-bottom: 25px;
  }
  footer .upper-row > div:last-child {
    margin-bottom: 0;
  }
}
